:root {

    --header-footer-color: #2b2a33;
    --empty-body: #e7e7e7;
    --text-color: #909090;
    --container-color: #fefefe;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}



.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: aliceblue;


}

header {
    min-height: 50px;
    order: 1;
    background: var(--header-footer-color);
}

footer {
    min-height: 50px;
    order: 3;
    background: var(--header-footer-color);
}

article {
    flex-grow: 1;
    order: 2;
    background: var(--empty-body);
}


/* loader  */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#signup-container {
    text-align: center;
    width: 79vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 2em;
    border-radius: 5px;
    box-shadow: 10px 5px 5px var(--color-purple-100);

    display: flex;
    flex-direction: column;
}

.signupheader {
    color: var(--header-footer-color);

}

.input-box{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.input-box input{
    align-self: center;
    max-width: 30vw;
}

.error-div{
    align-self: center;
    max-width: 25vw;
}

label {
    color: var(--header-footer-color);
}

.invalid-warning {
    color: red;
    font-size: 13px;
}

#tos {
    color: var(--header-footer-color);
}

.termsxcondition {
    color: var(--header-footer-color);
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;

}

.signup-card {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

#signup_button {
    margin-top: -1.5em;
    align-self: center;
    width: 8em;
    color: goldenrod;
    background: white;
    border: 2px solid goldenrod;
    border-radius: 5px;
    transition: all 300ms;
}

#signup_button:hover {
    color: #494949;
    border: 2px solid #494949;
    border-radius: 50px;
}

#colse-tos {
    color: goldenrod;
    background: white;
    border: 2px solid goldenrod;
}

#colse-tos:hover {
    color: #494949;
    background: white;
    border: 2px solid #494949;
    border-radius: 50px;
}






/* Failed to load data  */
.we-failed {
    color: #2b2a33;
}

@media only screen and (max-width: 640px) {

    .input-box input{
        max-width: 80vw;
    }
    
    .error-div{
        max-width: 75vw;
    }


}

@media only screen and (max-width: 960px) and (min-width: 640px) {

    .input-box input{
        max-width: 60vw;
    }
    
    .error-div{
        max-width: 45vw;
    }
}