:root {

    --header-footer-color: #2b2a33;
    --empty-body: #e7e7e7;
    --text-color: #909090;
    --container-color: #fefefe;
}

body {
    min-height: 100vh;
    margin: 0;
}

header {
    min-height: 50px;
    background: var(--header-footer-color);
    padding: left 5em right 5em;
}

header .nav{
    display: flex;
    justify-content: space-between;
    
}
footer {
    min-height: 50px;
    background: var(--header-footer-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: aliceblue;


}

.user-full-name{
    text-transform: capitalize;
}

article {
    flex: 1;
    background: var(--empty-body);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    flex-wrap: wrap;
}

.listItem {
    width: 90%;
    align-self: center;
}

.UserCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    box-shadow: #2b2a33 1em 1em 1em;
    background-color: var(--container-color);
    color: #2b2a33;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 0.05em;


}

.button {
    background-color: #f4d688;
    border: #f4d688 1px solid;
    border-radius: 0.5em;
}

/* loader  */
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  /* Failed to load data  */
  .we-failed{
    color: #2b2a33;
  }
  .no-users{
    color: #2b2a33;
  }
@media only screen and (max-width: 640px) {

    ul {
        justify-items: center;
        justify-content: flex-start;
        align-items: center;
    }


    .listItem {
        width: 85%;
    }

}